@import 'variables';
h1 {
  color: $red-color;
}
h2 {
  color: blue;
}
.user-avatar {
  width: 40px; /* Giới hạn chiều rộng */
  height: 40px; /* Giới hạn chiều cao */
  border-radius: 50%; /* Làm tròn */
  margin-right: 4px;
}